/* Show sidebar only when the cursor is over it  */
/* The border controlling sidebar width will be removed so you'll need to modify these values to change width */

#sidebar-box {
    --uc-sidebar-width: 26px;
    --uc-sidebar-hover-width: 210px;
    position: relative;
    min-width: var(--uc-sidebar-width) !important;
    width: var(--uc-sidebar-width) !important;
    max-width: var(--uc-sidebar-width) !important;
    z-index: 1;
}

#sidebar-splitter {
    display: none
}

#sidebar-header {
    overflow: hidden;
    color: var(--chrome-color, inherit) !important
}

#sidebar-box,
#sidebar,
#sidebar-header {
    transition: min-width 250ms linear 500ms !important;
    min-width: var(--uc-sidebar-width) !important;
    will-change: min-width;
    filter: grayscale(100%);
}

#sidebar-box:hover,
#sidebar-box:hover > #sidebar,
#sidebar-box:hover > #sidebar-header {
    min-width: var(--uc-sidebar-hover-width) !important;
    filter: none
}

.sidebar-panel {
    background-color: transparent !important;
    color: var(--newtab-text-primary-color) !important;
}

.sidebar-panel #search-box {
    -moz-appearance: none !important;
    background-color: rgba(249,249,250,0.1) !important;
    color: inherit !important;
}

/* Add sidebar divider and give it background */
#sidebar,
#sidebar-header {
    background-color: var(--toolbar-non-lwt-bgcolor) !important;
    border-right: 1px solid rgb(80,80,80);
}
