/* The ID is the ID (internal UUID) of the extension - see about:debugging -> This Firefox */
@-moz-document url-prefix("moz-extension://64600b27-9351-421f-83cd-98ea7d574aa4/") {

    * {
        font-family: Cozette !important;
        font-size: 13px !important; 
        font-weight: normal;
    }

    
    #root[data-act-el-color-scheme="dark"] {
        --active-el-shadow: none !important;
        --tabs-activated-shadow: none !important;
    }

    .Tab {
        height: 20px !important;
    }
}
