@import url(autohide_sidebar.css);
@import url(theme.css);

/* Change font UI globally */
* {
    font-family: Cozette !important;
    font-size: 13px !important; 
    /* line-height: 1rem !important; */
    font-weight: normal;
}

/* Hide entire tabs bar */
#TabsToolbar {
    visibility: collapse !important;
}

/* Sidebar splitter between sidebar and main window */
.sidebar-splitter {
    background-color: #383C4A !important;
}

/* Make sidebar header not so big */
#sidebar-header {
    font-size: 1em !important;
    padding: 0 !important;
    background-color: #383C4A !important;
}

/* #urlbar:is([focused], [open]) > #urlbar-background, */
/* #searchbar:focus-within { */
/*   background-color: var(--toolbar-field-focus-background-color); */
/* } */

/* Make icons (buttons) in top bar dimmed */
#nav-bar > hbox > toolbarbutton,
#nav-bar > hbox > #stop-reload-button,
#nav-bar > hbox > toolbaritem[data-extensionid],
#nav-bar #PanelUI-menu-button {
    filter: grayscale(100%) opacity(50%);
}

/* Align non-focused URL bar to center */
#urlbar-input:not(:focus) {
    text-align: center !important;
}

/* Show URL bar buttons only when URL bar is focused */
#urlbar .urlbar-input-container #star-button-box,
#urlbar .urlbar-input-container #identity-box,
#urlbar .urlbar-input-container #tracking-protection-icon-container {
    opacity: 0;
}

#urlbar[open=true] #urlbar-input-container #star-button-box,
#urlbar[open=true] #urlbar-input-container #identity-box,
#urlbar[open=true] #urlbar #urlbar-input-container #tracking-protection-icon-container {
    opacity: 1 !important;
}

/* Set URL bar backgroud the same color as top bar */
#urlbar, #urlbar-background, #urlbar-input-container {
    --toolbar-field-background-color: rgb(29, 32, 33) !important;
}
